<!DOCTYPE html>
<html>  

<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
</style>

<body>
    {% if name %}
        <h1>Welcome {{ name }}</h1>
    {% endif %}

    <form method="POST" action="{{ url_for('returnBusinessList') }}">
        <label for="zip_code" style="font-size:15px" >Please enter your current address: </label>
        <br>
        <input type="text" name="location_input">
        <label for="radius" style="font-size:15px">Please input how many miles you are willing to travel:</label>
        <input type="text" name="radius_input">
        <label for="club" style="font-size:15px">Club</label>
        <input type="checkbox" name="club">
        <label for="bar" style="font-size:15px">Bar</label>
        <input type="checkbox" name="bar">
        <input type="submit" value="submit">
    </form>
    <div class="w3-sand w3-grayscale w3-large">
<span class="w3-text-black" style="font-size:50px">Nightlife Recommendation</span>
    <img src= "http://1.bp.blogspot.com/-2norFrllMv8/VNk2dx9Fz3I/AAAAAAAAi1E/cFHTNiCC30E/s1600/yet%2Banother%2Bcat%2Bcartoon.jpg" alt = "A cate sitting in a bar asking for water" width = "400" height = "500" style="width:50%;max-width:1000px;margin-top:32px;">
    <br>

    {% if data %}
        {% for item in data %}
        <p>Rating: {{item[0]}}</p>
        <p>Review: {{item[1]}}</p>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>