<!DOCTYPE html>
<html>
<title>Order Uber</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
} 

    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url({{pic}});
    min-height: 75%;
}

.menu {
    display: none;
}
</style>
<body>
            <!-- back to home -->
          <div class="w3-top">
          <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
              <a href="/" class="w3-button w3-block w3-black">HOME</a>
          </div>
          </div>
          </div>

        {% if request %}
         <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Estimated Fare Charge: {{fare}}</span></h5>

        <form method="POST" class="w3-center" action="{{ url_for('confirm_uber') }}">
            <input type="hidden" name="user_lat" value="{{user_lat}}">
            <input type="hidden" name="user_long" value="{{user_long}}">
            <input type="hidden" name="business_lat" value="{{business_lat}}">
            <input type="hidden" name="business_long" value="{{business_long}}">
            <input type="hidden" name="product_id" value="{{product_id}}">
            <input type="hidden" name="fare_id" value="{{fare_id}}">
            <input type="submit" value="Confirm">
        </form>
        <br>
        <form method="GET" class="w3-center" action="/">
            <input type="submit" value="Cancel">
        </form>
        {% endif %}

        {% if confirmed %}
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Your uber is on the way... Press the cancel button to cancel the ride.</span></h5>
            <!-- <p></p> -->
            <form method="POST" action="{{ url_for('cancel_uber') }}">
                <input type="hidden" name="request_id" value="{{request_id}}">
                <input type="submit" value="Cancel">
            </form>
            <form method="POST" action="{{ url_for('update_uber') }}">
                <input type="hidden" name="request_id" value="{{request_id}}">
                <input type="submit" value="Get Updated Trip Status">
            </form>
            {% if update %}
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Your uber is currently in the following state: {{update}}</span>
            {% endif %}
        {% endif %}
    </body>
</html>