<!DOCTYPE html>
<html>
    <body> 
        <a href="/">Home</a>
        {% if request %}
        <h2>Estimated Fare Charge: {{fare}}</h2>
        <form method="POST" action="{{ url_for('confirm_uber') }}">
            <input type="hidden" name="user_lat" value="{{user_lat}}">
            <input type="hidden" name="user_long" value="{{user_long}}">
            <input type="hidden" name="business_lat" value="{{business_lat}}">
            <input type="hidden" name="business_long" value="{{business_long}}">
            <input type="hidden" name="product_id" value="{{product_id}}">
            <input type="hidden" name="fare_id" value="{{fare_id}}">
            <input type="submit" value="Confirm">
        </form>
        <form method="GET" action="/">
            <input type="submit" value="Cancel">
        </form>
        {% endif %}
        {% if confirmed %}
            <p>Your uber is on the way... Press the cancel button to cancel the ride.</p>
            <form method="POST" action="{{ url_for('cancel_uber') }}">
                <input type="hidden" name="request_id" value="{{request_id}}">
                <input type="submit" value="Cancel">
            </form>
        {% endif %}
    </body>
</html>