<!DOCTYPE html>
<html>
<title>Order Uber</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
} 

    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url({{pic}});
    min-height: 75%;
}

.menu {
    display: none;
}
</style>
<body>
            <!-- back to home -->
          <div class="w3-top">
          <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
              <a href="/" class="w3-button w3-block w3-black">HOME</a>
          </div>
          </div>
          </div>
         <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Your ride has been cancelled.</span></h5>
    </body>
</html>