<!DOCTYPE html>
<html>
<title>Results</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
} 

/*{% if data %}
        {% for item in data %}
        <p>Rating: {{item[0]}}</p>
        <p>Review: {{item[1]}}</p>
        {% endfor %}
    {% endif %}*/
    .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url({{pic}});
    min-height: 75%;
}

.menu {
    display: none;
}
</style>
<body>
<a href="/">Home</a>
<!-- Links (sit on top) -->


<!-- Header with image -->
{% if businesses %}
    {% for business in businesses %}
        <p>Name: {{business[0]}}</p>
        <p>Address: {{business[2][0]}}, {{business[2][1]}}</p>
        <p>Open or Closed: {{business[4]}}</p>
        <img src={{business[3]}}>      

          
        {% for item in business[1] %}
            <p>Rating: {{item[0]}}</p>
            <p>Review: {{item[1]}}</p>
        {% endfor %}
        <form method="POST" action="{{ url_for('call_uber') }}">
            <input type="hidden" name="business_name" value="{{ business[0]}}">
            <input type="hidden" name="user_loc" value="{{ business[5] }}">
            <input type="submit" value="Call Uber">
        </form>
    {% endfor %}
{% endif %}


<!--     <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
      <h5>Bread Basket</h5>
      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>
    
      <h5>Honey Almond Granola with Fruits</h5>
      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>
    
      <h5>Belgian Waffle</h5>
      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>
    
      <h5>Scrambled eggs</h5>
      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>
    
      <h5>Blueberry Pancakes</h5>
      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
      <h5>Coffee</h5>
      <p class="w3-text-grey">Regular coffee 2.50</p><br>
    
      <h5>Chocolato</h5>
      <p class="w3-text-grey">Chocolate espresso with milk 4.50</p><br>
    
      <h5>Corretto</h5>
      <p class="w3-text-grey">Whiskey and coffee 5.00</p><br>
    
      <h5>Iced tea</h5>
      <p class="w3-text-grey">Hot tea, except not hot 3.00</p><br>
    
      <h5>Soda</h5>
      <p class="w3-text-grey">Coke, Sprite, Fanta, etc. 2.50</p>
    </div>  
    <img src="https://s3-media3.fl.yelpcdn.com/bphoto/oF9AqeZFT3Kg0N4peP_-4A/o.jpg" style="width:100%;max-width:1000px;margin-top:32px;"> -->
    
</body>
</html>
